.lesson2 {
  margin: 15px;
  h2 {
    margin-top: 12px;
  }
  h3 {
    margin-top: 8px;
  }
  &__exercise {
    background-color: #f3f3f3;
    div::before {
      content: "♥ ";
    }
    div::after {
      content: " →";
    }
  }
  &__notes {
    color: #3e3e53;
    margin: 20px;
  }
}
