.lesson6 {
  @include lesson;
  &__exercise {
    @include exercise;

    .card {
      width: 200px;
      height: 200px;
      transform-style: preserve-3d;
      position: relative;
      .face {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
      }
      .front {
        background: palegreen;
      }
      .back {
        background: paleturquoise;
        transform: rotateX(180deg);
      }
    }
    .card:hover {
      transform: rotateY(180deg);
    }
  }
  &__notes {
    @include note;
  }
}
