.layer-1 {
  //Bonny
  @include layer--bonny(1, 450px);
  @include ear--left;
  @include ear--right;
  right: 60px;
  @include head--bonny;
}
.layer-2 {
  //Bonny
  @include layer--bonny(2, 450px);
  @include ear--left;
  @include ear--right;
  left: 60px;
  @include head--bonny;
  animation-delay: 0.3s;
}
.layer-4 {
  //Bonny
  @include layer--bonny(4, 350px);
  @include ear--left;
  @include ear--right;
  left: 15px;
  @include head--bonny;
  animation-delay: 0.6s;
}
.layer-6 {
  //Bonny
  @include layer--bonny(6, 250px);
  @include ear--left;
  @include ear--right;
  right: 25px;
  @include head--bonny;
  animation-delay: 0.1s;
}
