@mixin wall {
  position: absolute;
  border-radius: 30px;
  background-color: $tierra;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  .shadow {
    border-radius: 30px;
    height: 100%;
    background: linear-gradient(135deg, $sombra 25%, transparent 25%) -51px 0,
      linear-gradient(-135deg, $sombra 25%, transparent 25%) -50px 0;
    background-size: 32px 150px;
    background-repeat: repeat-x;
    .grass {
      border-radius: 30px;
      height: 100%;
      background: linear-gradient(135deg, $pasto 25%, transparent 25%) -51px 0,
        linear-gradient(-135deg, $pasto 25%, transparent 25%) -50px 0;
      background-size: 32px 92px;
      background-repeat: repeat-x;
    }
  }
}
