@mixin wall {
  position: absolute;
  border-radius: 30px;
  background-color: $tierra;

  .shadow {
    border-radius: 30px;
    height: 100%;
    background: linear-gradient(135deg, $sombra 25%, transparent 25%) -51px 0,
      linear-gradient(-135deg, $sombra 25%, transparent 25%) -50px 0;
    background-size: 32px 150px;
    background-repeat: repeat-x;
    .grass {
      border-radius: 30px;
      height: 100%;
      background: linear-gradient(135deg, $pasto 25%, transparent 25%) -51px 0,
        linear-gradient(-135deg, $pasto 25%, transparent 25%) -50px 0;
      background-size: 32px 92px;
      background-repeat: repeat-x;
    }
  }
}
