$pasto: #51af5e;
$tierra: #bf624c;
$tierra2: #684432;
$sombra: #a54a38;

@import "./head--bonny.scss";
@import "./layer--bonny.scss";
@import "./ear-bonny.scss";
@import "./wall.scss";
@import "./cloud.scss";
@import "./tree.scss";
@import "./rabbits.scss";
@import "./walls.scss";
@import "./footer.scss";

.game {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  .phone {
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: #c0ebff;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    .Title {
      display: grid;
      place-items: center;
      margin-top: 30px;
    }
  }
}
@media screen and (max-width: 1440px) {
  .game {
    .phone {
      transform: scale(1.3);
    }
  }
}
@media screen and (max-width: 1024px) {
  .game {
    .phone {
      transform: scale(1.2);
    }
  }
}
@media screen and (max-width: 414px) {
  .game {
    .phone {
      transform: scale(1.1);
    }
  }
}
