$pasto: #51af5e;
$tierra: #bf624c;
$tierra2: #684432;
$sombra: #a54a38;

@import "./head--bonny.scss";
@import "./layer--bonny.scss";
@import "./ear-bonny.scss";
@import "./wall.scss";
@import "./cloud.scss";
@import "./tree.scss";
@import "./rabbits.scss";
@import "./walls.scss";
@import "./footer.scss";

.game {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  counter-reset: game;
  input:checked {
    counter-increment: game;
  }
  .total-count::after {
    content: counter(game);
  }
  .phone {
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    height: 600px;
    width: 300px;
    background: #c0ebff;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
