$color-primario: #363030;
$backExercise: #f3f3f3;

@mixin lesson {
  margin: 8px;
  h2 {
    margin-top: 12px;
  }
  h3 {
    margin-top: 8px;
  }
}

@mixin note {
  margin: 14px;
  figure {
    display: flex;
    justify-content: center;
    img {
      margin: 12px 0;
      min-width: 320px;
    }
  }
}
@mixin exercise {
  background-color: $backExercise;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-primario;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0 8px;
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  a,
  p {
    font-size: 14px;
  }
}
.navbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  a {
    text-decoration: none;
    margin: 0 12px;
  }
}
