.lesson1 {
  @include lesson;
  &__exercise {
    @include exercise;
    a:link {
      color: red;
    }
    a:visited {
      color: rgb(48, 204, 108);
    }
    a:hover {
      background-color: #3e3e53;
    }
    a {
      margin-right: 8px;
    }
    p:not(.not) {
      color: lightpink;
    }
    .container div:nth-child(1) {
      font-size: 24px;
    }
  }
  &__notes {
    @include note;
  }
}
