@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,500,300);

.frame {
  width: 400px;
  height: 400px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 #0000001a;
  overflow: hidden;
  background: green;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  position: relative;
  z-index: 2;
  height: 300px;
  width: 300px;
  top: 50px;
  left: 50px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;

  &.show-menu {
    transform: translate3d(150px, 0, 0);
  }
}

.heading {
  background: linear-gradient(-45deg, #78bc61, #c0c781);
  height: 20%;

  span {
    font-weight: 700;
    color: white;
  }

  .menu-icon {
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 15px;

    &:hover {
      .dash-top,
      .dash-bottom,
      .circle {
        background: #fff;
      }
    }

    .dash-top {
      position: absolute;
      width: 20px;
      height: 3px;
      top: 0;
      left: 0;
      border-radius: 3px;
      background: rgba(255, 255, 255, 0.5);
      transition: all 0.2s ease-in-out;
    }

    .dash-bottom {
      @extend .dash-top;
      width: 29px;
      top: auto;
      bottom: 0;
    }

    .circle {
      position: absolute;
      width: 7px;
      height: 7px;
      top: -2px;
      left: 21px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      transition: all 0.2s ease-in-out;
    }
  }

  .title {
    display: block;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
  }

  .search-input {
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    right: 55px;
    width: 230px;
    height: 34px;
    border-radius: 17px;
    border: none;
    background: #fff;
    padding: 0 17px;
    font-size: 13px;
    color: #666;
    //references the &.active property that the animation is written on
    transition: all 0.3s ease-in-out;
    transform: translateX(15px);
    opacity: 0;
    pointer-events: none;

    &:focus {
      outline: none;
    }

    //changes position by 15px and transforms from transparent to opaque
    &.active {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }
  }

  .search-icon {
    position: absolute;
    z-index: 2;
    font-size: 21px;
    color: rgba(255, 255, 255, 0.5);
    top: 18px;
    right: 20px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

.notifications {
  position: relative;
  height: 100%;
  overflow: hidden;

  .line {
    position: absolute;
    top: 0;
    left: 27px;
    bottom: 0;
    width: 3px;
    background: #ebebeb;
  }

  .notification {
    position: relative;
    z-index: 2;
    margin: 25px 20px 25px 43px;

    @for $i from 2 through 4 {
      &:nth-child(#{$i}) {
        animation: here-am-i 0.5s ease-out ($i/5 + s);
        animation-fill-mode: both;
      }
    }

    &:hover {
      color: green;
      cursor: pointer;
    }

    .circle {
      box-sizing: border-box;
      position: absolute;
      height: 11px;
      width: 11px;
      background: #fff;
      border: 2px solid green;
      box-shadow: 0 0 0 3px #fff;
      border-radius: 6px;
      top: 0;
      left: -20px;
    }

    .time {
      display: block;
      font-size: 11px;
      line-height: 11px;
      margin-bottom: 2px;
    }

    p {
      font-size: 15px;
      line-height: 20px;
      margin: 0;
    }
  }
}

.menu {
  position: absolute;
  width: 170px;
  height: 270px;
  top: 152px;
  left: 79px;
  background: linear-gradient(-75deg, #78bc61, #9cc271);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(-19px, 0, 0);

  &.active {
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, 0, 0);
  }

  ul {
    margin: 0;
    padding: 10px 0;
  }

  li {
    list-style: none;
    padding: 18px 17px;
    color: #daf3ce;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  li:hover {
    color: #fff;
    background-color: #5a9d43;
  }

  span {
    display: block;
    float: left;
    margin-right: 8px;
    margin-top: -1px;
  }
}

//animation for the easing in of the initial posts
@keyframes here-am-i {
  from {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
